@model IEnumerable<Project6.Models.ApplicationUser>

@{
    ViewBag.Title = "Home Page";
}

@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <h2>Hello @User.Identity.GetUserName()</h2>
}
else
{
    <h2>WhatINoted.com</h2>
}